<!-- Implement Your Code Here -->
<html>

<body>
    <div class="page-content">
        <h2>Student Administration</h2>
        <form  action="#" class="form-detail">
            <h2 id="head">Student Database</h2>
            <div class="form-row">
                <!--Fill your code for name-->
             <!-- <label for="name">Name</label> -->
             <input type="text" id="name" placeholder="Name" [(ngModel)]="student.name" name="student.name">
            </div>
            <div class="form-row">
                <!--Fill your code for register number-->
                <!-- <label for="registernumber">Register Number</label> -->
                <input type="text" id="registerNumber" placeholder="Register Number" [(ngModel)]="student.registerNumber" name="student.registerNumber">
            </div>
            <div class="form-row">
                <!--Fill your code for age-->
                <!-- <label for="age">Age</label> -->
                <input type="number" id="age" placeholder="Age" [(ngModel)]="student.age" name="student.age">
            </div>
            <div class="form-row-last">
                <!--Fill your code for button-->
             <button (click)="ngOnInit()">Submit</button>
            </div>
            
            <!--Display the student name in h1-->
            <h1>{{student.name}}</h1>
            <!--Display the student register number in h3-->
            <h3>{{student.registerNumber}}</h3>
            <!--Display the student age in h5-->
            <h5>{{student.age}}</h5>
        </form>
        <br>
  </div>
</body>

</html>