<!-- Implement Your Code Here -->
<html>

<body>
    <div class="page-content">
        <h2>Student Administration</h2>
        <form  action="#" class="form-detail">
            <h3>Student Database</h3>
            <div class="form-row">
                <!--Fill your code for name-->
                <!-- <label for="name">Name</label> -->
                <input type="text" id="name" #Name placeholder="Name">
            </div>
            <div class="form-row">
                <!--Fill your code for register number-->
                <!-- <label for="registernumber">Register Number</label> -->
                <input type="text" id="registernumber" #Registernumber placeholder="Registernumber">
            </div>
            <div class="form-row">
                <!--Fill your code for age-->
                <!-- <label for="age">Age</label> -->
                <input type="text" id="age" #Age placeholder="Age">
            </div>
            <div class="form-row-last">
                <!--Fill your code for button-->
                <button (click)="addNewStudent(Name.value,Registernumber.value,Age.value)">Submit</button>
            </div>
            
            <p><!--Display the student details--> {{show}}</p>
        </form>
  </div>
</body>

</html>