<h2> GNN Book House</h2>

<form>
    
    <!--Design the form as per the requirement-->
    <label id="isbn" name="isbn">ISBN</label>
    <select id="isbn" name="isbn" [(ngModel)]="isbn">
        <option *ngFor = "let book of bookService.getBooks()" [value]="book.isbn">{{ book.isbn }}</option>
    </select>

    <br>
    <label id="quantity" name="quantity">Quantity</label>
    <input type="number" id="quantity" name="quantity" [(ngModel)]="quantity">
    <br>
    <button id="update" name="update" (click)="updateQuantity()">Update</button>

</form>